*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:lato;
}
/* primary styling */
.btn-primary{
    border:none;
    padding:10px 25px;
    border-radius: 8px;
    background: #E55473;
    color:white;
    margin-top:10px;

}
.h1-primary{
    color:#e55473;
}
/* header section styling */
header{
    width:100%;
    height:80vh;
    background: rgba(229, 84, 115, 0.10);
    background-image:url("images/pngwing 10.png");
    background-repeat:no-repeat;
    background-size:350px;
    background-position:right bottom;
    background-position-x:600px;
}
.header-section{
    display:flex;
    
}
.header-text{
    margin-left:100px;
    margin-top:150px;
}
.header-text h1{
    width:400px;
    font-size:40px;
    font-weight:900;
    margin-bottom:20px;
    color:#171717;
}
.header-text p{
    font-size:12px;
    color:#474747;
    margin-top:10px;
    margin-bottom:10px;
}


/* first flower section styling */
.flower-section-1-head-text{
    margin-top:100px;
    text-align:center;
}
.flower-section-1-head-text h1{
    font-size:20px;
}
.flower-section-1-head-text p{
    font-size:15px;
    font-weight:400;
    color:#474747c6;
    margin-top:10px;
}
.first-flower-section-container{
    width:90%;
    height:40vh;
    margin-top:20px; 
    margin-left:50px;
    display:flex;
    justify-content:center;
    gap:20px;
}
.flower-1{
    width:180px;
    height:220px;
    background-color: rgba(167, 33, 98, 0.15);
    background-image:url("images/pngwing 6.png");
    background-repeat:no-repeat;
    background-size:100px;
    background-position:bottom;
    border-radius:300px 300px 0px 0px;
}
.flower-1 p{
    margin-top:130%;
    text-align:center;
    color:#474747;
}
.flower-2{
    width:180px;
    height:220px;
    background-color: rgba(5, 151, 160, 0.15);
    background-image:url("images/pngwing 5.png");
    background-repeat:no-repeat;
    background-size:130px;
    background-position:center;
    border-radius:300px 300px 0px 0px;
}
.flower-2 p{
    margin-top:130%;
    text-align:center;
    color:#474747;
    
}
.flower-3{
    width:180px;
    height:220px;
    background-color: rgba(167, 33, 98, 0.15);
    background-image:url("images/pngwing 7.png");
    background-repeat:no-repeat;
    background-size:100px;
    background-position:bottom;
    border-radius:300px 300px 0px 0px;
}
.flower-3 p{
    margin-top:130%;
    text-align:center;
    color:#474747;
}
/* service section styling */
.service-section-1{
    width:70%;
    height:30vh;
    background:rgba(39, 39, 39, 0.05);
    display:flex;
    justify-content: center;
    align-items:center;
    gap:50px;
    text-align:center;
    margin-top:50px;
    margin-left:150px;
}
.services img{
    width:50px;
}
.services p{
    font-size:13px;
    color:#474747;
    margin-top:10px;
}
/* first deal section styling */
.deal-section-1{
    width:100%;
    height:50vh;
    background-color:rgba(229, 84, 115, 0.05);
    background-image:url("images/pngwing 8.png");
    background-repeat:no-repeat;
    background-position:center;
    background-position-x: 600px;
    background-size:180px;
    margin-top:100px;
}

.deal-section-text{
    width:500px;
    text-align:center;
    position:relative;
    top:100px;
    left:50px;
}
.deal-section-text h1{
    margin-bottom:20px;
}
.deal-section-text p{
    color:#474747c9;
    font-size:12px;
}
.deal-section-text button{
    margin-top:20px;
}
/* instagram section text styling */
.instagram-section-text{
    margin-top:100px;
    text-align:center;
}
.instagram-section-text p{
    margin-top:20px;
    color:#474747c9;
    font-size:13px;
}
/* instagram section image styling  */
.instagram-section-image{
    width:70%;
    height:40vh;
    margin:auto;
    margin-top:30px;
    display:flex;
    justify-content: center;
    gap:20px;
}
.insta-image-1{
    width:200px;
    height:200px;
    background-image:url("images/Flower 01.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
.insta-image-2{
    width:200px;
    height:200px;
    background-image:url("images/Rectangle 4.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
.insta-image-3{
    width:200px;
    height:200px;
    background-image:url("images/Rectangle 5.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
.insta-image-4{
    width:200px;
    height:200px;
    background-image:url("images/rectangle 6.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
/* shop gallery section styling  */
.shop-gallery-section{
    width:90%;
    height:100vh;
    /* background:wheat; */
    margin:auto;
    display:flex;
    justify-content:center;
    gap:20px;
    
}
.gallery-image-1{
    width:180px;
    height:180px;
    background-image:url("images/pngwing 5.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:100px;
    background-color:white;
    box-shadow:2px 2px 10px gray;
    border-radius:40px 0px 40px 0px;
    margin-top:20px;
    margin-bottom:20px;
}
.gallery-image-2{
    width:180px;
    height:180px;
    background-image:url("images/pngwing 6.png");
    background-position:bottom;
    background-repeat:no-repeat;
    background-size:100px;
    background-color:white;
    box-shadow:2px 2px 10px gray;
    border-radius:40px 0px 40px 0px;

    margin-top:20px;
    margin-bottom:20px;
}
.gallery-image-3{
    width:180px;
    height:180px;
    background-image:url("images/pngwing 7.png");
    background-position:bottom;
    background-repeat:no-repeat;
    background-size:100px;
    background-color:white;
    box-shadow:2px 2px 10px gray;
    border-radius:40px 0px 40px 0px;
    margin-top:20px;
    margin-bottom:20px;
}
.gallery-image-4{
    width:180px;
    height:180px;
    background-image:url("images/pngwing 8.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:100px;
    background-color:white;
    box-shadow:2px 2px 10px gray;
    border-radius:40px 0px 40px 0px;
    margin-top:20px;
    margin-bottom:20px;
}
.gallery-image-5{
    width:180px;
    height:180px;
    background-image:url("images/pngwing 10.png");
    background-position:bottom;
    background-repeat:no-repeat;
    background-size:100px;
    background-color:white;
    box-shadow:2px 2px 10px gray;
    border-radius:40px 0px 40px 0px;
    margin-top:20px;
    margin-bottom:20px;
}
.gallery-image-6{
    width:180px;
    height:180px;
    background-image:url("images/rectangle 4.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:100px;
    background-color:white;
    box-shadow:2px 2px 10px gray;
    border-radius:40px 0px 40px 0px;
    margin-top:20px;
    margin-bottom:20px;
}
.gallery-image-7{
    width:180px;
    height:180px;
    background-image:url("images/rectangle 5.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:100px;
    background-color:white;
    box-shadow:2px 2px 10px gray;
    border-radius:40px 0px 40px 0px;
    margin-top:20px;
    margin-bottom:20px;
}
.gallery-image-8{
    width:180px;
    height:180px;
    background-image:url("images/rectangle 6.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:100px;
    background-color:white;
    box-shadow:2px 2px 10px gray;
    border-radius:40px 0px 40px 0px;
    margin-top:20px;
    margin-bottom:20px;
}
.gallery-image-9{
    width:180px;
    height:180px;
    background-image:url("images/flower 01.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:100px;
    background-color:white;
    box-shadow:2px 2px 10px gray;
    border-radius:40px 0px 40px 0px;
    margin-top:20px;
    margin-bottom:20px;
}
/* second deal section styling */
.deal-section-2{
    width:70%;
    height:40vh;
    background:url("images/Rectangle 9.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    margin:auto;
}
.deal-section-text-1{
    text-align:center;
    position:relative;
    top:80px;
}
.deal-section-text-1 p{
    font-size:13px;
    color:#474747c9;
    margin-top:10px;
}
.deal-section-input-field [type="email"] {
    width:400px;
    height:35px;
    border:none;
    margin-left:100px;
    margin-top:100px;
    border-radius:10px;
}